<div class="section footer">
    <div class="master-moving-footer">
        <div class="single-moving-footer">
            <div class="text-moving-footer">#freinds</div>
            <div class="text-moving-footer">#sushi</div>
            <div class="text-moving-footer">#hiking</div>
            <div class="text-moving-footer">#born in 91</div>
            <div class="text-moving-footer">#human</div>
            <div class="text-moving-footer">#Yejong Han</div>
            <div class="text-moving-footer">#kali</div>
            <div class="text-moving-footer">#Ezra</div>
            <div class="text-moving-footer">#ansan</div>
            <div class="text-moving-footer">#soda</div>
            <div class="text-moving-footer">#intellij</div>
            <div class="text-moving-footer">#the good place</div>
            <div class="text-moving-footer">#ski</div>

        </div>
    </div>
    <div class="main-container w-container">
        <div class="divider-footer"></div>
        <div class="master-footer-bottom">
            <div class="left-footer-bottom">
                <div class="single-footer-links">
                    <div class="footer-links-heading">Main pages</div>
                    <a href="../index.html" class="footer-link">Home sales</a>
                    <a href="../homepages/home-a.html" aria-current="page" class="footer-link w--current">Home A</a>
                    <a href="../homepages/home-b.html" class="footer-link">Home B</a>
                    <a href="../about/about-a.html" class="footer-link">About A</a>
                    <a href="../about/about-b.html" class="footer-link">About B</a>
                </div>
                <div class="single-footer-links">
                    <div class="footer-links-heading">Projects</div>
                    <a href="../work/projects-a.html" class="footer-link">Projects A</a>
                    <a href="../work/projects-b.html" class="footer-link">Projects B</a>
                    <a href="https://layla-folio.webflow.io/services/user-experience" class="footer-link">Service</a>
                    <a href="https://layla-folio.webflow.io/projects/the-rising-star-on-summer-beverages-market" class="footer-link">Project page</a>
                </div>
                <div class="single-footer-links">
                    <div class="footer-links-heading">Others</div>
                    <a href="../blog.html" class="footer-link">Blog</a>
                    <a href="https://layla-folio.webflow.io/blog/why-did-i-move-to-warsaw-and-not-berlin" class="footer-link">Blog single</a>
                    <a href="../shop.html" class="footer-link">Shop</a>
                    <a href="https://layla-folio.webflow.io/product/my-icon-pack" class="footer-link">Product</a>
                    <a href="https://layla-folio.webflow.io/category/ui-kits" class="footer-link">Category</a>
                    <a href="../contact.html" class="footer-link">Contact</a>
                    <a href="../legal.html" class="footer-link">Legal (text)</a>
                </div>
                <div class="single-footer-links">
                    <div class="footer-links-heading">Template</div>
                    <a href="../template/style-guide.html" class="footer-link">Style guide</a>
                    <a href="../template/licenses.html" class="footer-link">Licenses</a>
                    <a href="../template/documentation.html" class="footer-link">Instructions</a>
                    <a href="../template/changelog.html" class="footer-link">Changelog</a>
                    <a href="/#pages" class="footer-link">See all pages</a>
                </div>
            </div>
        </div>
        <div class="divider-footer-legal"></div>
        <div class="wrap-footer-legal">
            <div class="legal-text">This home page is developed by
                <a href="#" target="_blank">Ezra</a>.
            </div>
            <div class="legal-text">
                <a href="#" target="_blank">Ezra's home</a>
            </div>
        </div>
    </div>
</div>
