<div class="section footer">
    <div class="master-moving-footer">
        <div class="single-moving-footer">
            <div class="text-moving-footer">#freinds</div>
            <div class="text-moving-footer">#sushi</div>
            <div class="text-moving-footer">#hiking</div>
            <div class="text-moving-footer">#born in 91</div>
            <div class="text-moving-footer">#human</div>
            <div class="text-moving-footer">#Yejong Han</div>
            <div class="text-moving-footer">#kali</div>
            <div class="text-moving-footer">#Ezra</div>
            <div class="text-moving-footer">#ansan</div>
            <div class="text-moving-footer">#soda</div>
            <div class="text-moving-footer">#intellij</div>
            <div class="text-moving-footer">#the good place</div>
            <div class="text-moving-footer">#ski</div>

        </div>
    </div>
    <div class="main-container w-container">
        <div class="divider-footer"></div>
        <div class="master-footer-bottom">
            <div class="left-footer-bottom">
                <div class="single-footer-links">
                    <div class="footer-links-heading">Main pages</div>
                    <a href="/" class="footer-link">Main</a>
                </div>
                <div class="single-footer-links">
                    <div class="footer-links-heading">Board</div>
                    <a href="/blog/" class="footer-link">Blog</a>
                    <a href="/blog/projects" class="footer-link">Projects</a>
                 </div>
                <div class="single-footer-links">
                    <div class="footer-links-heading">Member</div>
                    <a href="/member/" class="footer-link">Sign in</a>
                    <a href="/member/join" class="footer-link">Sign up</a>
                    <a href="/member/myprofile" class="footer-link">My Profile</a>
                </div>
                <div class="single-footer-links">
                    <div class="footer-links-heading">Others</div>
                    <a href="/about" class="footer-link">About</a>
                    <a href="/contact" class="footer-link">Contact</a>
                    <a href="/product/" class="footer-link">Shop</a>
                </div>
            </div>
        </div>
        <div class="divider-footer-legal"></div>
        <div class="wrap-footer-legal">
            <div class="legal-text">This home page is developed by
                <a href="#" target="_blank">Ezra</a>.
            </div>
            <div class="legal-text">
                <a href="#" target="_blank">Ezra's home</a>
            </div>
        </div>
    </div>
</div>
