<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="File">
    <insert id="save" parameterType="file">
        insert into board_files (fileName, boardId, fileExtension)
        values (#{fileName},#{boardId},#{fileExtension})
    </insert>
    <select id="findByBoardId" parameterType="file" resultType="file">
        select * from board_files where boardId = #{boardId}
    </select>

</mapper>